@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your index.css or App.css */
/* @import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";  */

* {
  font-family: "Bricolage Grotesque", serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background: linear-gradient(4380deg, #ffd39c 50%, #fdf2e3 70%);
}
