@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Roboto", serif; */
  font-family: "Bricolage Grotesque", Sans-serif !important;
  background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
  color: #333;
  color: #333;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 28px;
  position: relative;
}

/* Logo Section */
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fd7e14;
}

.logo img {
  width: 100px;
  margin-right: 10px;
}

/* Navigation Menu */
nav {
  display: flex;
  gap: 144px;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  /* font-weight: bold; */
  gap: 10px;
}

nav i {
  font-size: 27px;
  
}
nav a span {
  display: flex;
  gap: 14px;
  /* align-items: center; */
  text-transform: capitalize;
}

.lo-gin {
  color: #fd7e14;
  font-size: 24px;
}

.lo-gin:hover {
  color: black;
}

nav a:hover {
  color: #fd7e14;
}

/* Buttons */

.btn-2 {
  background-color: #ffd7a5;
  color: black;
  padding: 13px 35px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  /* margin-top: 38px; */
  /* margin-left: 356px; */
}

.btn-2:hover {
  background-color: #f5720b;
}

/* Main Section */
main {
  text-align: center;
  padding: 50px 20px;
}

.first-flex-item {
  flex-basis: 35%;
}
.first-flex-item h1 {
  font-size: 75px;
  font-weight: 600;
}
.first-flex-item .btn {
  margin-top: 13px;
  background-color: #fd7e14;
  color: black;
  padding: 13px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 21px;
}
.first-flex-item .btn:hover {
  background-color: #f5720b;
}

.second-flex-item {
  flex-basis: 65%;
}

.second-flex-item .img-text {
  display: flex;
  align-items: center;
}

.second-flex-item .img-text .logo-container {
  width: 50%;
}

.second-flex-item .img-text .logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .second-flex-item div .reto-heading{
  margin-left: 60px;
  margin-top: 170px;
} */

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-weight: 500;
  font-size: 62px;
  /* margin-bottom: 20px; */
  /* margin-left: -929px; */
}

main p {
  font-size: 32px;
  /* margin-bottom: 30px; */
  /* margin-right: 967px; */
}

/* main .logo-main { */
  /* margin: 40px auto; */
  /* width: 100%; */
  /* max-width: 300px; */
  /* margin-left: 261px; */
  /* margin-top: -139px; */
/* } */

h2 {
  font-size: 167px;
  /* margin-bottom: 20px; */
  /* margin-left: 900px; */
  /* margin-top: 5px; */
  color: white;
  font-weight: 400;
}

.ind-ia {
  /* font-size: 147px; */
  /* margin-bottom: 20px; */
  /* margin-left: 902px; */
  /* margin-top: 21px; */
  color: black;
  font-weight: lighter;
}

.footer-text {
  font-size: 16px;
  margin-top: 10px;
}

/* Social Icons */
.social-icons {
  position: absolute;
  left: 20px;
  top: 85%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: -30px;
}

.social-icons a {
  font-size: 35px;
  color: #333;
  text-decoration: none;
}

.social-icons a:hover {
  color: #fd7e14;
}

/* Responsive Menu for Mobile */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #333;
}

.nav-side {
  margin-left: 330px;
  margin-top: 20px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background: #ffd5a0;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
}
/* .mobile-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */

.mobile-menu.active {
  display: flex;
 
}

.mobile-menu a {
    text-decoration: none;
    color:  #fd7e14;
    font-weight: bold;
  }
.mobile-menu a:hover {
  text-decoration: none;
  color: #fd7e14;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .btn {
    margin-left: 0;
  }

  .btn-2 {
    margin-left: 0;
    margin-top: 20px;
  }

  main h1 {
    font-size: 48px;
    margin-left: 0;
  }

  main p {
    font-size: 24px;
    margin-right: 0;
  }

  h2 {
    font-size: 80px;
    margin-left: 0;
    margin-top: 20px;
  }

  .ind-ia {
    font-size: 60px;
    /* margin-left: 0; */
    margin-top: 10px;
  }

  .logo-main {
    margin-top: 20px;
    margin-left: 0;
  }
  main .logo-main {
    margin: 40px auto;
    width: 100%;
    max-width: 300px;
    margin-left: 47px;
    margin-top: 9px;
  }
  .social-icons {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 20px;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
    .btn {
        width: 55%;
      }
    
      .btn-2 {
        width: 82%;
        font-size: 12px;
        padding: 4px;
      }
    
      main h1 {
        font-size: 36px;
      }
    
      main p {
        font-size: 18px;
      }
    
      
    
      h2 {
        font-size: 50px;
      }
    
      .ind-ia {
        font-size: 40px;
      }
    
      .logo-main {
        margin-top: 20px;
        margin-left: 0;
      }
  .social-icons {
    position: fixed;
    top: auto;
    left: auto;
    margin-top: 20px;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 320px) {
    main h1 {
        font-size: 36px;
        margin-top: 272px;
    }
    main .logo-main {
      margin-top: -436px;
      margin-bottom: 178px;
      margin-right: -97px;
  }
  main {
    text-align: center;
    padding: 0px 20px;
  }
  .social-icons {
    position: relative;
    /* margin-top: -66px; */
    margin-left: -13px;
    flex-direction: row;
  }
  h2 {
    font-size: 46px;
    margin-top: -382px;
    margin-right: 193px;
    font-style: italic;
  }
  .ind-ia {
    margin-top: -11px;
    font-size: 32px;
  }
  .btn-2 {
    margin-top: 268px;
    margin-bottom: 44px;
  }
  .sp-an{
    margin-left: -16px;
    margin-top: 3px;
    font-size: 30px;
  }
  .logo {
    margin-left: -32px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #f58634;
    font-style: italic;
    /* margin-top: 1px; */
  }
  .to-gl{
    margin-right: -25px;
  }
  .ho-me {
    margin-right: 8px;
    margin-left: 31px;
  }
  .pro-dct{
      margin-right: 8px;
      margin-left: 55px;
  }
  .ab-ut{
    margin-right: 8px;
    margin-left: 30px;
  }
  .lo-gin{
    margin-right: 8px;
    margin-left: 36px;
  }
  .con-tct{
    margin-right: 8px;
    margin-left: 70px;
  }
  .trc-ker{
    margin-right: 8px;
    margin-left: 39px;
  }
  .lo-gin {
    font-size: 19px;
  }
  .lo-ut{
    margin-left: -18px;
  }
  .logo img {
    width: 76px;
    margin-right: 10px;
}
  }
  @media screen and (max-width: 768px) {
    .ho-me {
      margin-right: 8px;
      margin-left: 31px;
    }
    .pro-dct{
        margin-right: 8px;
        margin-left: 55px;
    }
    .ab-ut{
      margin-right: 8px;
      margin-left: 30px;
    }
    .lo-gin{
      margin-right: 8px;
      margin-left: 36px;
    }
    .con-tct{
      margin-right: 8px;
      margin-left: 70px;
    }
    .trc-ker{
      margin-right: 8px;
      margin-left: 39px;
    }
    .lo-gin {
      font-size: 19px;
    }
    .lo-ut{
      margin-left: -18px;
    }
  }
  @media screen and (max-width: 1024px) {
    .ho-me {
      margin-right: 8px;
      margin-left: 31px;
    }
    .pro-dct{
        margin-right: 8px;
        margin-left: 55px;
    }
    .ab-ut{
      margin-right: 8px;
      margin-left: 30px;
    }
    .lo-gin{
      margin-right: 8px;
      margin-left: 36px;
    }
    .con-tct{
      margin-right: 8px;
      margin-left: 70px;
    }
    .trc-ker{
      margin-right: 8px;
      margin-left: 39px;
    }
    .lo-gin {
      font-size: 19px;
    }
    .lo-ut{
      margin-left: -18px;
    }
  }
/* 31-12-2024 */
.menu-toggle {
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 10px;
  position: absolute;
  top: 81px;
  right: 0;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 33px;
}
/* .mobile-menu:hover{
  color: #f5720b;
} */

.mobile-menu a {
  padding: 10px 0;
  color: #333;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: #fd7e14;
}

@media screen and (max-width: 768px) {
  .btn {
    width: 55%;
  }

  .btn-2 {
    width: 82%;
    font-size: 12px;
    padding: 4px;
  }
  /* 
  main h1 {
    font-size: 36px;
  } */

  main p {
    font-size: 18px;
  }

  h2 {
    font-size: 50px;
  }

  /* .ind-ia {
    font-size: 40px;
  } */

  .logo-main {
    margin-top: 20px;
    margin-left: 0;
  }

  /* .social-icons {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  } */
  .social-icons {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  main .logo-main {
    margin: 40px auto;
    width: 100%;
    max-width: 300px;
    /* margin-left: 261px; */
    margin-top: 13px;
  }
}
