@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400&display=swap");
.landing {
  /* Logo Section */
  /* Navigation Menu */
  /* Buttons */
  /* Main Section */
  /* Social Icons */
  /* Responsive Menu for Mobile */
  /* 31-12-2024 */
  /* //......................................  */
}
.landing header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  position: relative;
}
.landing .logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fd7e14;
}
.landing .logo img {
  width: 100px;
  margin-right: 10px;
}
.landing nav {
  display: flex;
  gap: 89px;
}
.landing nav a {
  font-size: 16px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  gap: 10px;
}
.landing nav i {
  font-size: 18px;
}
.landing nav a span {
  display: flex;
  gap: 14px;
  text-transform: capitalize;
}
.landing .lo-gin {
  color: #fd7e14;
  font-size: 24px;
}
.landing .lo-gin:hover {
  color: black;
}
.landing nav a:hover {
  color: #fd7e14;
}
.landing .ho-me {
  margin-right: 8px;
}
.landing .pro-dct {
  margin-right: 8px;
}
.landing .ab-ut {
  margin-right: 8px;
}
.landing .con-tct {
  margin-right: 8px;
}
.landing .trc-ker {
  margin-right: 8px;
}
.landing .lo-gin {
  font-size: 22px;
}
.landing .lo-ut {
  margin-left: -18px;
}
.landing .lo-gin {
  color: #fd7e14;
  font-size: 25px;
}
.landing .lo-gin:hover {
  color: black;
}
.landing nav a:hover {
  color: #fd7e14;
}
.landing .landing-btn {
  background-color: #fd7e14;
  color: black;
  padding: 13px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 21px;
}
.landing .landing-btn:hover {
  background-color: #f5720b;
}
.landing .btn-2 {
  margin-right: 280px;
  margin-top: -50px;
  background-color: #ffd7a5;
  color: black;
  padding: 20px 50px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 18px;
}
.landing .btn-2:hover {
  background-color: #f5720b;
}
.landing main h1 {
  font-weight: 600;
  font-size: 75px;
}
.landing main p {
  font-size: 32px;
}
.landing .logo-img {
  height: 720px;
  width: 660px;
}
.landing h2 {
  font-size: 180px;
  color: white;
  font-weight: 400;
  margin-left: -50px;
}
.landing .ind-ia {
  font-size: 147px;
  color: black;
  font-weight: lighter;
  margin-left: 25px;
}
.landing .footer-text {
  font-size: 16px;
  margin-top: 10px;
}
.landing .social-icons {
  position: absolute;
  left: 20px;
  top: 88%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin-top: -30px;
}
.landing .social-icons a {
  font-size: 35px;
  color: #333;
  text-decoration: none;
}
.landing .social-icons a:hover {
  color: #fd7e14;
}
.landing .menu-toggle {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.landing .menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #333;
}
.landing .nav-side {
  margin-left: 330px;
  margin-top: 20px;
}
.landing .mobile-menu {
  display: none;
  flex-direction: column;
  gap: 10px;
  background: #ffd5a0;
  position: absolute;
  top: 60px;
  right: 20px;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
}
.landing .mobile-menu.active {
  display: flex;
}
.landing .mobile-menu a {
  text-decoration: none;
  color: #fd7e14;
  font-weight: bold;
}
.landing .mobile-menu a:hover {
  text-decoration: none;
  color: #fd7e14;
  font-weight: bold;
}
.landing .menu-toggle {
  cursor: pointer;
}
.landing .mobile-menu {
  display: none;
  flex-direction: column;
  background-color: #f4f4f4;
  padding: 10px;
  position: absolute;
  top: 81px;
  right: 0;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  gap: 24px;
  z-index: 1;
}
.landing .mobile-menu a {
  padding: 10px 0;
  color: #333;
  text-decoration: none;
}
.landing .mobile-menu a:hover {
  color: #fd7e14;
}
.landing .img-parent {
  display: flex;
}
.landing .btns-2 {
  text-align: right;
  margin-right: 15rem;
}
.landing .namaste-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing .head-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.landing .reto-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.landing .img-parent {
  align-items: center;
}
.landing .head-parent p {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .landing {
    /* old */
  }
  .landing .landing-btn {
    margin-left: 0;
  }
  .landing .btn-2 {
    margin-top: 60px;
    margin-bottom: 50px;
    margin-left: 250px;
  }
  .landing main h1 {
    font-size: 75px;
    font-weight: 600;
    margin-top: 70px;
  }
  .landing main p {
    font-size: 24px;
    margin-right: 0;
  }
  .landing h2 {
    font-size: 80px;
  }
  .landing .ind-ia {
    font-weight: 500;
    font-size: 60px;
    margin-left: 28px;
  }
  .landing .landing-logo-main {
    margin-top: 20px;
    margin-left: 0;
  }
  .landing main .landing-logo-main {
    width: 60%;
    height: 80%;
    margin-top: 20px;
  }
}
@media screen and (max-width: 1024px) {
  .landing .logo img {
    width: 75px;
    height: 75px;
    margin-right: 10px;
    margin-left: 5px;
  }
  .landing .lo-gin {
    font-size: 21px;
  }
  .landing nav a span {
    gap: 6px;
  }
  .landing nav i {
    font-size: 14px;
  }
  .landing .ho-me {
    margin-right: 4px;
  }
  .landing .pro-dct {
    margin-right: 4px;
  }
  .landing .ab-ut {
    margin-right: 4px;
  }
  .landing .lo-gin {
    margin-right: 4px;
  }
  .landing .con-tct {
    margin-right: 4px;
  }
  .landing .trc-ker {
    margin-right: 4px;
  }
  .landing .lo-gin {
    font-size: 19px;
  }
  .landing .lo-gin {
    font-size: 19px;
  }
  .landing .lo-ut {
    margin-left: -5px;
  }
  .landing nav a {
    font-size: 14px;
  }
  .landing nav {
    gap: 34px;
  }
}
@media screen and (max-width: 1024px) {
  .landing .ho-me {
    margin-right: 8px;
  }
  .landing .pro-dct {
    margin-right: 8px;
  }
  .landing .ab-ut {
    margin-right: 8px;
  }
  .landing .lo-gin {
    margin-right: 8px;
  }
  .landing .con-tct {
    margin-right: 8px;
  }
  .landing .trc-ker {
    margin-right: 8px;
  }
  .landing .lo-gin {
    font-size: 19px;
  }
  .landing .lo-ut {
    margin-left: -18px;
  }
}
@media screen and (max-width: 1024px) {
  .landing .namaste-head {
    flex-direction: column;
  }
  .landing .btns-2 {
    text-align: center;
    margin-right: 0;
  }
  .landing .logo-img {
    width: 50%;
    justify-content: end;
    display: flex;
  }
  .landing .reto-text {
    margin-left: 20px;
    margin-top: 70px;
  }
  .landing .social-icons {
    position: fixed;
    top: 400px;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .landing {
    /* nav {
      display: none;
    } */
    /* today */
  }
  .landing .menu-toggle {
    display: flex;
  }
  .landing .landing-logo-main {
    margin-top: 20px;
    margin-left: 0;
  }
  .landing .landing-btn {
    margin-top: 3px;
    font-size: 17px;
  }
  .landing .btn-2 {
    font-size: 12px;
    padding: 4px;
    width: 300px;
  }
  .landing main h1 {
    font-size: 55px;
  }
  .landing .reto-text {
    margin-top: -20px;
    font-size: 60px;
  }
  .landing main p {
    font-size: 1.3rem;
    line-height: 1.1;
  }
  .landing h2 {
    font-size: 50px;
    margin-left: -30px;
  }
  .landing .ind-ia {
    font-size: 53px;
    font-weight: 500;
    margin-left: -4px;
  }
  .landing .landing-logo-main {
    margin-top: 20px;
    margin-left: 0;
  }
  .landing .social-icons {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .landing main .landing-logo-main {
    width: 85%;
    max-width: 300px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  .landing .ho-me {
    margin-right: 8px;
    margin-left: 31px;
  }
  .landing .pro-dct {
    margin-right: 8px;
    margin-left: 55px;
  }
  .landing .ab-ut {
    margin-right: 8px;
    margin-left: 30px;
  }
  .landing .lo-gin {
    margin-right: 8px;
    margin-left: 36px;
  }
  .landing .con-tct {
    margin-right: 8px;
    margin-left: 70px;
  }
  .landing .trc-ker {
    margin-right: 8px;
    margin-left: 39px;
  }
  .landing .lo-gin {
    font-size: 19px;
  }
  .landing .lo-ut {
    margin-left: -18px;
  }
}
@media screen and (max-width: 320px) {
  .landing {
    /* 
    .social-icons {
      position: fixed;
      bottom: 0px;
      flex-direction: row;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
      z-index: 1000;
    } */
  }
  .landing body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .landing main {
    position: relative;
  }
  .landing main h1 {
    font-size: 3rem;
    margin-top: 110px;
  }
  .landing main .landing-logo-main {
    height: 265px;
    width: 240px;
  }
  .landing .social-icons {
    position: fixed;
    display: flex;
    gap: 10px;
    bottom: 10px;
    max-width: 300px;
    width: 100%;
    height: 70px;
    top: 70%;
    padding: 8px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .landing .social-icons a {
    text-align: center;
    font-size: 32px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .landing h2 {
    font-size: 55px;
    font-style: italic;
    font-weight: 500;
  }
  .landing .ind-ia {
    font-size: 45px;
  }
  .landing .btn-2 {
    margin-bottom: 0;
    margin-left: 11px;
  }
  .landing .sp-an {
    margin-left: -16px;
    margin-top: 3px;
    font-size: 30px;
  }
  .landing .logo {
    margin-left: -32px;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #f58634;
    font-style: italic;
  }
  .landing .ho-me {
    margin-right: 8px;
    margin-left: 31px;
  }
  .landing .pro-dct {
    margin-right: 8px;
    margin-left: 55px;
  }
  .landing .ab-ut {
    margin-right: 8px;
    margin-left: 30px;
  }
  .landing .lo-gin {
    margin-right: 8px;
    margin-left: 36px;
  }
  .landing .con-tct {
    margin-right: 8px;
    margin-left: 70px;
  }
  .landing .trc-ker {
    margin-right: 8px;
    margin-left: 39px;
  }
  .landing .lo-gin {
    font-size: 19px;
  }
  .landing .lo-ut {
    margin-left: -18px;
  }
  .landing .landing-btn {
    font-size: 16px;
    padding: 10px;
  }
  .landing .logo img {
    width: 55px;
    height: 55px;
    margin-left: 25px;
  }
}
@media screen and (max-width: 320px) {
  .landing .namaste-head {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .landing .logo-img {
    height: 11rem;
    aspect-ratio: 1;
    width: 9rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
  }
  .landing .reto-text {
    order: -1;
    position: absolute;
    left: -74px;
    top: 121px;
  }
  .landing .img-parent {
    position: relative;
  }
}/*# sourceMappingURL=landingPage.css.map */