*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bricolage Grotesque", Sans-serif;
}
/* body{
    background: linear-gradient(462deg, #fdf2e3 51%, #ffd39c 70%)
} */
.navbar{
    height: 3rem;
}
 @media (min-width: 768px) and (max-width: 1000px) {
     .custom-media {
         margin-top: 40px;
     }
     .custom-padding{
        padding-top: 100px;
     }
 }